/**********************
GENERAL
**********************/

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

#cologo {
  max-width: 150%;
}


a {
  text-decoration: none;
}


body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: #F2F2F2;
}


header {
  float: left;
  background: ;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-bottom: 3px solid grey;
}

h1 {
  
  font-size: 1.75em;
  margin: 10px 0 10 0px;
  line-height: .8em;
  color: #7D1D3F;
  padding: 5px 5px;
  text-align: center;
}

h2 {
  margin: 20px 0 10px 0;
  color: #7D1D3F;
  padding: 0 5px;
  text-align: center;
}

p, ul, h3 {
  color: #515151;
  margin: 0 10px;
  font-size: 1.2em;
}

/**********************
NAVIGATION
**********************/


#cologo {
  max-width: 30%;
  float: left;
  padding: 10px 0 30px 10px
}

#logo h1 {
  font-size: 2.5em;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 1em;
  padding: 0;
}

nav li {
  padding: 10px 0px 0px 0px;
  margin: 10px;
}

nav a {
  font-weight: bold;
  padding: 5px 1px;
  color: #7D1D3F;
  font-size: 3em;
  display: block;
  
}



button {
  background: light-grey;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 2px;
  width: 80%;
  height: 80px;
}

  
  
 /**********************
BODY
**********************/ 
  

#prof1 {
  float: left;
  display: inline-block;
  margin: 10px;
  max-width: 100%;
}
  
.about_pic {
  display: inline-block;
  float: left;
  margin: 5px 10px 5px 0;
}

  #pic1 {
    max-width: 100%;
}

 

/**********************
FOOTER
**********************/
  
  
footer {
  text-align: center;
  padding: 0 0 15px 0;
}

.foot_nav {
padding: 5px;
margin: 5px 0 0 10px;
display: inline-block;
font-size: 2em;  
}

.twitter-follow-button {
margin: 10px 0 0 0;
}


/*******************
CONTACT FORM
*******************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #515151;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

#required_field {
  margin: 5px 0 10px 30px;
  font-size: 1em;
  padding: 5px;
}





fieldset {
  margin-bottom: 30px;
  max-width: 90%;
  margin: 10px auto;
  padding: 40px 20px;
  background: #4F646F;
  border-radius: 10px;
  border-width:10px;	
  border-style:outset;
}


label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

 
  



@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

#submit_form {
  display: block;
  margin-left: 100px;
  width: 40%;
  height: 50px;  
}














