/**********************
GENERAL
**********************/

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  background-color: #F2F2F2;
}

header {
  padding: 5px 0 0 0;
  width: 100%;
  border-bottom: 3px solid grey;
}

h1 {
  
  font-size: 1.75em;
  margin: 10px 0 10 0px;
  line-height: .8em;
  color: #7D1D3F;
  padding: 5px 5px;
  text-align: center;
}

h2 {
  margin: 20px 0 10px 0;
  color: #7D1D3F;
  padding: 0 5px;
  text-align: center;
}

p, ul, h3 {
  color: #515151;
  margin: 0 10px;
  font-size: 1.1em;
}

/**********************
NAVIGATION
**********************/


#cologo {
  max-width: 100px;
  float: left;
}

#logo h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px;
  
}

nav ul {
  list-style-type: none;
  text-align: center;
  font-size: 1em;
  padding: 0 0 20px 0;
}

nav li {
  padding: 10px 0px 0px 0px;
  margin: 10px;
}

nav a {
  font-weight: bold;
  color: #7D1D3F;
  font-size: 2.5em;
  display: block;
}



.nav_button {
  background: light-grey;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px;
  width: 80%;
  height: 60px;
}


  
  
 /**********************
BODY
**********************/ 
  

#prof1 {
  float: left;
  display: inline-block;
  margin: 10px;
  max-width: 100%;
}
  
.about_pic {
  display: inline-block;
  float: left;
  margin: 5px 10px 5px 0;
}

#pic1 {
    max-width: 100%;
} 

#ad3d {
  margin: 15px 0 15px 0; 
}

.contact-info {
  border-bottom: 5px solid grey;
  margin-bottom: 40px;
  margin-top: -20px;
  line-height: 1.5em;
  border-radius: 5px;
  background-color: #C7CCDB;
  padding: 10px;
}
#quote_button {
  border-radius: 10px;
  background: light-grey;
  margin: 20px 0 0 75px;
  width: 60%;
  height: 60px;
  box-shadow: 5px 5px 5px 1px;

}
#quote_link {
  color: #7D1D3F;
  font-weight: bold;
  font-size: 1.1em;
}
#bullets {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 20px;
  padding: 15px 20px 15px 0px;
  background-color: #C7CCDB;
}

/***********************
FOOTER
***********************/
  
  
footer {
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 30px;
  display: block;
  background: grey;
  padding: 10px 0 0 0;
}

.foot_nav {
max-width: 480px;
padding: 5px;
margin: 5px 0 0 10px;
display: inline;
font-size: 1.2em;
color: #7D1D3F;
}

#foot_note {
  font-size: .7em;
  color: aliceblue;
}

.social_button {
  max-width: 40px;
  display: inline;
  text-align: center;
  margin: 10px;
}


/*******************
CONTACT FORM
*******************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #515151;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

#required_field {
  margin: 5px 0 10px 30px;
  font-size: 1em;
  padding: 5px;
}

fieldset {
  margin-bottom: 30px;
  max-width: 90%;
  margin: 10px auto;
  padding: 40px 20px;
  background: #C7CCDB;
  border-radius: 10px;
  border-width:10px;	
  border-style:outset;
}

label {
  display: block;
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

#submit_form {
  background: light-grey;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px;
  width: 80%;
  height: 60px;
  display: block;
  margin: 0 0 0 25px;
}

#submit {
  font-size: 1.2em;
  color: black;
}









