/**********************
GENERAL
**********************/





a {
  text-decoration: none;
}


body {
  font-family: 'cuprum', sans-serif;

}


header {}

#logo {
  
  margin: 0;
  
}
header {
  float: left;
  background: grey;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  border-top: 3px solid;
  border-bottom: 3px solid;

}

h1 {
  
  font-size: 1.75em;
  margin: 10px 0 0 0px;
  line-height: .8em;
  color: coral;
  padding: 5px 5px;
  text-align: center;

  
}

h2 {
  margin: 10px 0 0 0px;
  color: coral;
  padding: 0 5px;
  text-align: center;

}





/**********************
NAVIGATION
**********************/

nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;

}

nav li {
  text-align: center;
  display: inline-block;
  padding: 0 0 0 10px;
  
}

nav a {
  font-weight: ;
  padding: 15px 10px;
  color: coral;

  #pic1 {
    max-width: 80%;
  }  
 

/**********************
FOOTER
**********************/
  
  
  .foot {
    max-height: 15%;
    max-width: 15%;
  }
  



















